<div class="container">
  <i class="fas fa-times close"></i>
  <div class="login-form">
    <h1>Login</h1>
    <form action="#">
      <div class="username">
        <label for="username">Username</label><br />
        <input name="username" type="text" /><br />
      </div>
      <div class="password">
        <label for="password">Password</label><br />
        <input name="password" type="password" /><br />
      </div>
      <div class="action-btn">
        <button type="submit">Login</button><br />
        <button>Register</button>
      </div>
    </form>
  </div>
</div>
