<nav>
  <img
    src="../../../assets/ab81d4ed22664071acd1626954a675de.png"
    alt="HappyDeals"
    width="100px"
  />
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active"
        ><i class="fas fa-home"></i> Home</a
      >
    </li>
    <li>
      <a routerLink="/categories" routerLinkActive="active"
        ><i class="fas fa-cubes"></i> Categories</a
      >
    </li>
    <li>
      <a routerLink="/products" routerLinkActive="active"
        ><i class="fab fa-wpexplorer"></i> Products</a
      >
    </li>
    <li>
      <a routerLink="/login" routerLinkActive="active"
        ><i class="fas fa-user"></i> Login</a
      >
    </li>
  </ul>
</nav>
